header.title-card{

	width:100%;
	text-align: center;

	color: #eee;
	background-color: #888;

	background-image: url("../img/payphone-cover.jpg");
    background-size : cover;
    background-position: center;
    background-blend-mode: multiply;

    margin-bottom:2em;



	.card-float{
		.container;
		position:relative;
		top:50%;
		transform:translateY(-70%);

		font-kerning: normal;

		@media screen and (max-width: @screen-md){
			transform:translateY(-60%);
		}



		h1{
		
			font-size:5em;
			margin-top:0px;
			padding-top:5%;

			.fade-in-page-load(1s,0s);

			span.respace{
				letter-spacing: 0.05em;
			}

			@media screen and (max-width: @screen-sm){
				padding-top:2em;
				font-size: 3em;
			}
		}

		h2{

			.fade-in-page-load(1s,0s); 

			margin-top:0px;
			font-size:3em;
		}

		h2.special-project-label{
			font-weight:100;

			@media screen and (max-width: @screen-sm){
				font-size:1.5em;
				pading-top:1em;
			}
		}

		h2.author{
			font-size: 2.5em;

			@media screen and (max-width: @screen-sm){
				font-size:1.5em;
				pading-top:1em;
			}
		}
	}

	img.logo-right{
		position:absolute;
		bottom:0;
		right:0;
		padding-right:3em;
		padding-bottom:3em;
		width:300px;

		@media screen and (max-width: @screen-md){
			.hidden;
		}
	}
	img.logo-left{
		position:absolute;
		bottom:0;
		left:0;
		padding-left:3em;
		padding-bottom:3em;
		width:300px;
	}	
}

body{
	display:block;

}


.article{

	margin-bottom:10em;

	section{

		color:#111;

		h1{
			.container;

			padding-top: 1em;
			padding-bottom: 0.5em;
			font-size: 3em;
			font-weight: bold;

			&:after{
				width:80px;
				padding-top:12px;
    			border-bottom:4px solid @brand-primary;
			}
		}

		h2{
			.container;


			font-size: 2.2em;
			padding-top: 1em;
			padding-bottom: 0.5em;
		}

		p{
			.container;
		}

		.disclaimer{
			font-style:italic;
		}

		img.full-across{
			padding-top:1em;
			padding-bottom: 5px;
			width:100%;
		}

		p.caption.full-across{
			text-align:right;
		}

	}

}


//Cool reading progress bar to replace a normal scrollbar.
::-webkit-scrollbar
{
    width: 0px;
}

progress{
	position: fixed;
	left:0;
	top:0;

	width:100%;
	height:8px;


	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
	border:none;

	background-color:transparent;

	color: @brand-primary;
	z-index:5;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  z-index:5;
}

progress::-webkit-progress-value {
  background-color: @brand-primary;
  z-index:5;
}

progress::-moz-progress-bar {
  background-color: @brand-primary;
  z-index:5;
}
